.mainHeading h2{
 font-size:1.5vw; 
 padding: 2vh;
}
.informationAplications{
 padding: 3vh 0vh;
}
.tableHeader{
    th{
        color:#2276dd;
        span{
        color: black;
        }
    }

}
.showStatus{
    span{
        border-right:1px solid  lightgrey;
        margin:0.5rem 1rem; 
        padding: 0.5rem 1rem;
        font-size: 14px;
    }
    span:last-child{
        border:none;
    }
}