<div class="container-fluid applications-dash" id="applications">
  <div class=" applications-dash__heading">
       <h2>Applications</h2>
      <p class=" text-muted applications-dash__filtering"><span class="">All(2)</span><span class="">Pending(1)</span><span class="">Contacted(0)</span><span class="">Interviewed(0)</span><span class="">Hired(0)</span><span class="">Rejected(1)</span></p>
   </div>
  <!-- table -->
  <div class=" applications-dash__table">
    <table class="table table-hover table-responsive-sm table-striped  table-bordered  "  >
      <thead>
     <tr class=" applications-dash__table__header">
        <th>Applicant Name</th>
        <th>Applicant E-mail</th>
        <th>Job title</th>
        <th>Experience</th>
        <th>Posted <i class="fa fa-caret-down" aria-hidden="true"></i></th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td>Ime i prezime 1</td>
          <td>nesto@mail1</td>
          <td>Front-End Developer</td>
          <td>2 years</td>
          <td>11/19/21018</td>
          <td><button class="btn btn-block">Rejected <i class="fa fa-caret-down" aria-hidden="true"></i></button></td>
         </tr>
        <tr>
          <td>Ime i prezime 2</td>
          <td>nesto@mail2</td>
          <td>Front-End Developer</td>
          <td>5 years</td>
          <td>11/19/21018</td>
          <td><button class="btn btn-block">Pending <i class="fa fa-caret-down" aria-hidden="true"></i></button></td>
        </tr>
       </tbody> 
      </table>
</div>
<!-- pagination -->
  <div class="applications-dash__pagination">
    <ul class="pagination">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1"> <span aria-hidden="true">«</span></a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active">
          <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#"><span aria-hidden="true">»</span></a>
        </li>
      </ul>
  </div>
</div>





