<div class="applications-dash__container">
  <div class="applications-dash__heading">
    <h2>Applications</h2>
    <div class=" text-muted applications-dash__filtering">
      <ul>
        <li>All<span>(0)</span></li>
        <li>Pending<span>(0)</span></li>
        <li>Contacted<span>(0)</span></li>
        <li>Interviewed<span>(0)</span></li>
        <li>Rejected<span>(0)</span></li>
      </ul>
    </div>
  </div>
  <!-- table -->
  <div class="applications-dash__table">
    <table
      class="table table-hover table-responsive-sm table-striped table-bordered"
    >
      <thead>
        <tr class="applications-dash__table__header">
          <th scope="col">Applicant Name</th>
          <th scope="col">Applicant E-mail</th>
          <th scope="col">Job title</th>
          <th scope="col">Experience</th>
          <th scope="col">Posted</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let application of dummyData">
          <td scope="row">{{ application.applicantName }}</td>
          <td>{{ application.applicantEmail }}</td>
          <td>{{ application.jobTitle }}</td>
          <td>{{ application.experience }}</td>
          <td>{{ application.postedOn }}</td>
          <td>
            <div
              class="dropdown applications-dash__table--dropdown-btn__container"
            >
              <button
                class="btn dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                {{ application.status }}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <span class="dropdown-item" (click)="chooseStatus($event)"
                  >Interviewed</span
                >
                <span class="dropdown-item" (click)="chooseStatus($event)"
                  >Contacted</span
                >
                <span class="dropdown-item" (click)="chooseStatus($event)"
                  >Rejeceted</span
                >
                <span class="dropdown-item" (click)="chooseStatus($event)"
                  >Hired</span
                >
                <span class="dropdown-item" (click)="chooseStatus($event)"
                  >Pending</span
                >
              </div>
            </div>
            <!--
              <button class="btn btn-block">
                Rejected <i class="fa fa-caret-down" aria-hidden="true"></i>
              </button>
            -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- pagination -->
  <div class="applications-dash__pagination">
    <ul class="pagination">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">
          <span aria-hidden="true">«</span></a
        >
      </li>
      <li class="page-item active"><a class="page-link" href="#">1</a></li>
      <li class="page-item">
        <a class="page-link" href="#"
          >2 <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#"><span aria-hidden="true">»</span></a>
      </li>
    </ul>
  </div>
</div>
