<nav class="navbar navbar-dark admin-dash__header" id="admin-dash__top-nav">
  <a class="navbar-brand" routerLink="/admin-dashboard/job-postings"
    ><i class="fa fa-home"></i
    ><span class="admin-dash__header__title">HR Hunters</span>
  </a>

  <a class="navbar-brand" 
    ><span class="admin-dash__header__title text-white"
      >Hi, Admin
      <span class="admin-dash__header--logout"
        >| <span class="admin-dash__header__title--link" (click)="onLogout()">Logout</span></span
      ></span
    ><i class="fa fa-user text-white"></i
  ></a>
</nav>

<div class="admin-dash__navigation">
  <nav class="navbar-expand-lg navbar-dark" id="admin-dash__side-nav">
    <a class="navbar-brand admin-dash__navigation--brand"
      ><i class="fa fa-home"></i
      ><span class="admin-dash__header__title">HR Hunters</span>
    </a>
    <button
      class="navbar-toggler admin-dash__navigation--toggler"
      type="button"
      data-toggle="collapse"
      data-target="#sidebar-navigation"
      aria-controls="sidebar-navigation"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="sidebar-navigation">
      <ul class="nav navbar-nav" id="admin-dash__dropdown-nav"> 
        <li
          class="admin-dash__navigation--link admin-dash__navigation--main"
          id="admin-dash__dashboard-btn"
        >
          <span><i class="fa fa-list-alt" aria-hidden="true"></i></span>
          Dashboard
        </li>
        <li
          class="admin-dash__navigation--link"
          routerLink="job-postings"
          routerLinkActive="admin-dash__navigation--active"
          (click)="onDropdownClick()"
        >
          Jobs
        </li>
        <li
          class="nav-item admin-dash__navigation--link"
          routerLink="applications"
          routerLinkActive="admin-dash__navigation--active"
          (click)="onDropdownClick()"
        >
          Applications
        </li>
        <li
          class="nav-item admin-dash__navigation--link"
          routerLink="clients"
          routerLinkActive="admin-dash__navigation--active"
          (click)="onDropdownClick()"
        >
          Clients
        </li>
        <li
          class="nav-item admin-dash__navigation--link"
          routerLink="applicants"
          routerLinkActive="admin-dash__navigation--active"
          (click)="onDropdownClick()"
        >
          Applicants
        </li>
        <li
          class="nav-item admin-dash__navigation--link admin-dash__navigation--auth"
          id="admin-dash__logout"
          (click)="onLogout()"
        >
          Logout
        </li>
      </ul>
    </div>
  </nav>

  <div class="admin-dash__component-container">
    <router-outlet></router-outlet>
  </div>
</div>
