<div class="my-container">
  <ng-template #customLoadingTemplate> </ng-template>

  <ngx-loading
    [show]="loading"
    [config]="{ backdropBorderRadius: '3px' }"
    [template]="customLoadingTemplate"
  ></ngx-loading>
  <div class="dash__container">
    <div class="dash__heading">
      <h2>Applicants</h2>
      <div class="text-muted dash__filtering">
        <ul>
          <li>
            All<span>({{ applicantsCount.all }})</span>
          </li>
        </ul>
      </div>
    </div>
    <!-- table -->
    <div class="dash__table">
      <table
        class="table table-hover table-responsive-sm table-striped table-bordered"
      >
        <thead>
          <tr class="dash__table__header">
            <th scope="col" (click)="onSort('firstName')">
              Name
              <i
                class="fa fa-sort-asc"
                aria-hidden="true"
                *ngIf="applicantsQP.currentSortBy === 'firstName' && applicantsQP.currentSortDirection === 0"
              ></i
              ><i
                class="fa fa-sort-desc"
                aria-hidden="true"
                *ngIf="applicantsQP.currentSortBy === 'firstName' && applicantsQP.currentSortDirection === 1"
              ></i>
            </th>
            <th scope="col" class="text-body">Photo</th>
            <th scope="col" (click)="onSort('email')">
              Email
              <i
                class="fa fa-sort-asc"
                aria-hidden="true"
                *ngIf="applicantsQP.currentSortBy === 'email' && applicantsQP.currentSortDirection === 0"
              ></i
              ><i
                class="fa fa-sort-desc"
                aria-hidden="true"
                *ngIf="applicantsQP.currentSortBy === 'email' && applicantsQP.currentSortDirection === 1"
              ></i>
            </th>
            <th scope="col" (click)="onSort('phoneNumber')">
              Phone
              <i
                class="fa fa-sort-asc"
                aria-hidden="true"
                *ngIf="applicantsQP.currentSortBy === 'phoneNumber' && applicantsQP.currentSortDirection === 0"
              ></i
              ><i
                class="fa fa-sort-desc"
                aria-hidden="true"
                *ngIf="applicantsQP.currentSortBy === 'phoneNumber' && applicantsQP.currentSortDirection === 1"
              ></i>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let applicant of applicants">
            <td scope="row">
              {{ applicant.firstName }} {{ applicant.lastName }}
            </td>
            <td>
              <img
                class="dash__table--image"
                [src]="applicant.photo"
                [alt]="applicant.firstName"
              />
            </td>
            <td>{{ applicant.email }}</td>
            <td>{{ applicant.phoneNumber }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <ngb-pagination
      *ngIf="applicantsCount.all > 10"
      [collectionSize]="applicantsCount.all"
      [(page)]="applicantsQP.currentPage"
      [maxSize]="10"
      [rotate]="true"
      [ellipses]="false"
      [boundaryLinks]="true"
      class="d-flex justify-content-center"
      (pageChange)="onChangedPage($event)"
    ></ngb-pagination>
  </div>
</div>
