<div class="dash__container">
  <div class="dash__heading">
    <h2>Add New Job Posting</h2>
    <div
      class="btn-group btn-group-toggle dash__heading--btn-group-toggle"
      data-toggle="buttons"
    >
      <label
        class="btn btn-secondary dash__heading--radio-btn"
        [ngClass]="{ active: !existingCompany }"
        (click)="onCompanyRadioBtnClick()"
        (click)="existingCompany = false"
      >
        <input type="radio" name="options" autocomplete="off" /> Add New Company
      </label>
      <label
        class="btn btn-secondary dash__heading--radio-btn"
        [ngClass]="{ active: existingCompany }"
        (click)="onCompanyRadioBtnClick()"
        (click)="existingCompany = true"
      >
        <input type="radio" name="options" autocomplete="off" /> Select Existing
        Company
      </label>
    </div>
  </div>
  <div class="dash__form__container">
    <form
      class="dash__form"
      [formGroup]="newJobPostingForm"
      (ngSubmit)="onSubmitNewJobPosting()"
    >
      <div class="dash__form--section">
        <p>Company information</p>

        <!-- COMPANY NAME -->
        <label for="dashidCompanyName" class="dash__form--label"
          >Company Name <span class="u-required-star">*</span></label
        >
        <input
          type="text"
          class="dash__form--input"
          placeholder="Enter company name..."
          formControlName="companyName"
          maxlength="50"
          autocomplete="off"
          id="dashidCompanyName"
          aria-haspopup="true"
          aria-expanded="true"
          (keyup)="populateCompanySuggestions($event)"
          (focus)="onFocus('companyName')"
        />
        <div
          class="dropdown-container"
          *ngIf="clients.length > 0 && formFocus.companyName"
        >
          <div class="dropdown-menu show" aria-labelledby="dashidCompanyName">
            <span
              class="dropdown-item"
              *ngFor="let client of clients"
              (click)="populateCompanyInfo($event, client.id)"
              >{{ client.companyName }}</span
            >
          </div>
        </div>
        <div
          *ngIf="
            !newJobPostingForm.controls['companyName'].valid &&
            (newJobPostingForm.controls['companyName'].dirty ||
              newJobPostingForm.controls['companyName'].touched)
          "
          class="alert dash__form--alert-msg"
        >
          <div
            *ngIf="newJobPostingForm.controls['companyName'].errors?.required"
          >
            Company name is required.
          </div>
          <div
            *ngIf="newJobPostingForm.controls['companyName'].errors?.minlength"
          >
            Company name must be at least 2 characters long.
          </div>
          <div
            *ngIf="newJobPostingForm.controls['companyName'].errors?.maxlength"
          >
            Company name must be up to 50 characters long.
          </div>
        </div>

        <!-- COMPANY EMAIL -->

        <label for="dashid__company-mail" class="dash__form--label"
          >Company Email <span class="u-required-star">*</span></label
        >
        <input
          type="text"
          id="dashid__company-mail"
          class="dash__form--input"
          placeholder="Enter company email..."
          formControlName="companyEmail"
          maxlength="30"
          (focus)="onFocus('companyEmail')"
        />

        <div
          *ngIf="
            !newJobPostingForm.controls['companyEmail'].valid &&
            (newJobPostingForm.controls['companyEmail'].dirty ||
              newJobPostingForm.controls['companyEmail'].touched)
          "
          class="alert dash__form--alert-msg"
        >
          <div
            *ngIf="newJobPostingForm.controls['applicantEmail'].errors?.pattern"
          >
            Email must be in valid format.
          </div>
          <div
            *ngIf="newJobPostingForm.controls['companyEmail'].errors?.required"
          >
            Company email is required.
          </div>
          <div
            *ngIf="newJobPostingForm.controls['companyEmail'].errors?.maxlength"
          >
            Company email must be up to 30 characters long.
          </div>
        </div>

        <!-- LOCATION -->

        <label for="dashid__location" class="dash__form--label"
          >Location <span class="u-required-star">*</span></label
        >
        <input
          type="text"
          id="dashid__location"
          class="dash__form--input"
          placeholder="Enter location..."
          formControlName="location"
          maxlength="50"
          (focus)="onFocus('location')"
          autocomplete="off"
        />

        <div
          *ngIf="
            !newJobPostingForm.controls['location'].valid &&
            (newJobPostingForm.controls['location'].dirty ||
              newJobPostingForm.controls['location'].touched)
          "
          class="alert dash__form--alert-msg"
        >
          <div *ngIf="newJobPostingForm.controls['location'].errors?.required">
            Location is required.
          </div>
          <div *ngIf="newJobPostingForm.controls['location'].errors?.maxlength">
            Location must be up to 50 characters long.
          </div>
        </div>
      </div>
      <div class="dash__form--section">
        <p>Job information</p>
        <!-- TITLE -->

        <label for="dashid__title" class="dash__form--label"
          >Title <span class="u-required-star">*</span></label
        >
        <input
          type="text"
          id="dashid__title"
          class="dash__form--input"
          placeholder="Enter job title..."
          formControlName="title"
          maxlength="50"
          (focus)="onFocus('title')"
        />

        <div
          *ngIf="
            !newJobPostingForm.controls['title'].valid &&
            (newJobPostingForm.controls['title'].dirty ||
              newJobPostingForm.controls['title'].touched)
          "
          class="alert dash__form--alert-msg"
        >
          <div *ngIf="newJobPostingForm.controls['title'].errors?.required">
            Title is required.
          </div>
          <div *ngIf="newJobPostingForm.controls['title'].errors?.maxlength">
            Title must be up to 50 characters long.
          </div>
        </div>

        <!-- DESCRIPTION -->

        <label
          for="dashid__description"
          class="dash__form--label"
          id="desc-height"
          >Description</label
        >
        <textarea
          type="text"
          id="dashid__description"
          class="dash__form--textarea"
          placeholder="Enter job description..."
          formControlName="description"
          maxlength="300"
          (focus)="onFocus('description')"
        ></textarea>

        <!-- JOB TYPE -->

        <label for="dashid__job-type" class="dash__form--label"
          >Job Type <span class="u-required-star">*</span></label
        >
        <select
          id="dashid__job-type"
          class="dash__form--input"
          formControlName="jobType"
          (focus)="onFocus('jobType')"
        >
          <option
            *ngFor="let jobType of jobTypes"
            [ngValue]="jobType"
            [selected]="jobType === 'Select job type...'"
            [disabled]="jobType === 'Select job type...'"
            >{{ jobType }}
          </option>
        </select>

        <div
          *ngIf="
            !newJobPostingForm.controls['jobType'].valid &&
            (newJobPostingForm.controls['jobType'].dirty ||
              newJobPostingForm.controls['jobType'].touched)
          "
          class="alert dash__form--alert-msg"
        >
          <div *ngIf="newJobPostingForm.controls['jobType'].errors?.required">
            Job type must be selected.
          </div>
        </div>

        <!-- EDUCATION -->

        <label for="dashid__education" class="dash__form--label"
          >Education <span class="u-required-star">*</span></label
        >
        <select
          id="dashidEducation"
          class="dash__form--input"
          formControlName="education"
          (focus)="onFocus('education')"
        >
          <option
            *ngFor="let edu of education"
            [ngValue]="edu"
            [selected]="edu === 'Select education level...'"
            [disabled]="edu === 'Select education level...'"
            >{{ edu }}
          </option>
        </select>

        <div
          *ngIf="
            !newJobPostingForm.controls['education'].valid &&
            (newJobPostingForm.controls['education'].dirty ||
              newJobPostingForm.controls['education'].touched)
          "
          class="alert dash__form--alert-msg"
        >
          <div *ngIf="newJobPostingForm.controls['education'].errors?.required">
            Education must be selected.
          </div>
        </div>

        <!-- NEEDED EXPERIENCE -->

        <label for="dashid__experience" class="dash__form--label"
          >Experience (in years) <span class="u-required-star">*</span></label
        >
        <select
          id="dashid__experience"
          class="dash__form--input"
          formControlName="experience"
          (focus)="onFocus('experience')"
        >
          <option
            *ngFor="let exp of experience"
            [ngValue]="exp"
            [selected]="exp === 'Select experience...'"
            [disabled]="exp === 'Select experience...'"
            >{{ exp }}
          </option>
        </select>

        <div
          *ngIf="
            !newJobPostingForm.controls['experience'].valid &&
            (newJobPostingForm.controls['experience'].dirty ||
              newJobPostingForm.controls['experience'].touched)
          "
          class="alert dash__form--alert-msg"
        >
          <div
            *ngIf="newJobPostingForm.controls['experience'].errors?.required"
          >
            Experience must be selected.
          </div>
        </div>

        <!-- DURATION -->

        <label for="dashid__duration" class="dash__form--label"
          >Duration <span class="u-required-star">*</span></label
        >
        <span>From:</span>
        <input
          type="date"
          id="dashid__duration-from"
          class="dash__form--date"
          min="2018-01-01"
          max="2019-12-31"
          formControlName="dateFrom"
          (focus)="onFocus('dateFrom')"
        />
        <span>To:</span>
        <input
          type="date"
          id="dashid__duration-to"
          class="dash__form--date"
          min="2018-01-01"
          max="2019-12-31"
          formControlName="dateTo"
          (focus)="onFocus('dateTo')"
        />

        <div
          *ngIf="
            (!newJobPostingForm.controls['dateFrom'].valid &&
              (newJobPostingForm.controls['dateFrom'].dirty ||
                newJobPostingForm.controls['dateFrom'].touched)) ||
            (!newJobPostingForm.controls['dateTo'].valid &&
              (newJobPostingForm.controls['dateTo'].dirty ||
                newJobPostingForm.controls['dateTo'].touched))
          "
          class="alert dash__form--alert-msg"
        >
          <div
            *ngIf="
              newJobPostingForm.controls['dateFrom'].errors?.required ||
              newJobPostingForm.controls['dateTo'].errors?.required
            "
          >
            Duration is required.
          </div>

          <div *ngIf="newJobPostingForm.controls.dateTo.errors">
            Start date must be equal to today's date or a later date. End date
            can't be earlier or equal to start date.
          </div>
        </div>
      </div>

      <button
        type="submit"
        class="btn dash__form--btn"
        [disabled]="!newJobPostingForm.valid"
      >
        <!-- && validExperience -->
        Publish Job
      </button>
    </form>
  </div>
</div>
