#desc-height {
  position: relative;
}
.dropdown-container {
  position: relative;
}

.dropdown-menu {
  left: 250px;
  top: -11px;

  &--height {
    max-height: 12rem;
    overflow-y: scroll;
  }
}

#dashid__logo {
  visibility: hidden;
  position: absolute;
  display: inline;
  top: 0;
  left: 0;
}

#browse-btn {
  margin: 0;
  transform: translateY(2px);
}