<div class="my-container">
  <ng-template #customLoadingTemplate> </ng-template>

  <ngx-loading
    [show]="loading"
    [config]="{ backdropBorderRadius: '3px' }"
    [template]="customLoadingTemplate"
  ></ngx-loading>
  <form class="dash__form" [formGroup]="newCSVForm" (ngSubmit)="onSubmitCSV()">
    <div class="dash__container">
      <div class="dash__heading">
        <h2>Add job postings by uploading CSV</h2>
      </div>
      <div class="dash__form__container">
        <div class="dash__form--section">
          <p>Company information</p>

          <label for="dashid_CompanyName" class="dash__form--label"
            >Company Name <span class="u-required-star">*</span></label
          >
          <input
            id="dashid_CompanyName"
            formControlName="companyName"
            type="text"
            class="dash__form--input"
            [ngbTypeahead]="search"
            placeholder="Select company..."
            (focus)="focus$.next($event.target.value)"
            (click)="click$.next($event.target.value)"
            #instance="ngbTypeahead"
            (ngModelChange)="checkCompanyValidity()"
          />
          <div
            *ngIf="
              !newCSVForm.controls['companyName'].valid &&
              (newCSVForm.controls['companyName'].dirty ||
                newCSVForm.controls['companyName'].touched)
            "
            class="alert dash__form--alert-msg"
          >
            <div *ngIf="newCSVForm.controls['companyName'].errors?.required">
              Company must be selected.
            </div>
          </div>
          <label class="dash__form--label"></label>
          <div class="dash__form--info">
            If the company you are looking for is not on this list, you can
            <a routerLink="/admin-dashboard/new-client">add a new company</a>.
          </div>

          <label for="dashid__title" class="dash__form--label"
            >Add CSV <span class="u-required-star">*</span></label
          >
          <button
            class="btn dash__heading--btn "
            type="button"
            (click)="filePicker.click()"
          >
            Browse
          </button>
          <input
            type="file"
            id="hpid__logo"
            class="dash__form--input"
            #filePicker
            formControlName="csv"
            accept=".csv"
            (change)="onFileChange($event)"
          />
          <div
            *ngIf="
              !newCSVForm.controls['csv'].valid &&
              (newCSVForm.controls['csv'].dirty ||
                newCSVForm.controls['csv'].touched)
            "
            class="alert dash__form--alert-msg"
          >
            <div *ngIf="newCSVForm.controls['csv'].errors?.required">
              CSV must be uploaded.
            </div>
          </div>
        </div>
        <button
            type="submit"
            class="btn dash__form--btn"
            [disabled]="!newCSVForm.valid"
          >
            Upload CSV
          </button>
      </div>
    </div>
  </form>
</div>
