
//Colors
$color-white: #ffffff;
$color-black: #000000;
$color-alert: #ff2424;
$color-alert-msg: #856404;

//BTN Auth
$color-btn-auth-bg: #37b3ad;
$color-btn-auth-active: #53cac4;
$color-btn-auth-hover: #2b8c87;

//Admin dashboard navigation
$color-nav-primary-bg: #23282d;
$color-nav-li-bg: #32373c;
$color-nav-main: #0073aa;
$color-nav-link: #20adeb;

//Link color
$color-link-active: #53cac4;
$color-link-hover: #2b8c87;
$color-link: #37b3ad;

//Placeholder
$placeholder-font-size: 1.4rem;

//FONT
$default-font-size: 1.6rem;
// admin tables
$color-heading-table-cell: #2276dd;