
//Colors
$color-white: #ffffff;
$color-black: #000000;
$color-alert: #ff2424;
$color-alert-msg: #cc0000;
// $color-alert-msg: #856404;

//Text color:
$color-text-secondary: #555555;

//BTN Auth
$color-btn-auth-bg: #37b3ad;
$color-btn-auth-active: #53cac4;
$color-btn-auth-hover: #2b8c87;

//BTN Primary
$color-btn-primary-bg: #37b3ad;
$color-btn-primary-active: #53cac4;
$color-btn-primary-hover: #2b8c87;

//BTN Success
$color-btn-success-bg: #7cc576;
$color-btn-success-active: #9ed49a;
$color-btn-success-hover: #4ea847;

//BTN Danger
$color-btn-danger-bg: #ff7070;
$color-btn-danger-active: #ffa3a3;
$color-btn-danger-hover: #ff2424;


//Admin dashboard navigation
$color-nav-primary-bg: #23282d;
$color-nav-li-bg: #32373c;
$color-nav-li-bg-active: #444b51;
$color-nav-main: #0073aa;
$color-nav-link: #20adeb;

//Link color
$color-link-active: #53cac4;
$color-link-hover: #2b8c87;
$color-link: #37b3ad;

//Placeholder
$placeholder-font-size: 1.4rem;

//FONT
$default-font-size: 1.6rem;
$content-font-size: 1.4rem;

// Admin-dashboard tables
$color-heading-table-cell: #2276dd;

// Homepage navigation
$color-hp-nav-bg: #23282d;
$color-hp-nav-hover: #32373c;
$color-hp-nav-active: #444e58;


