
//Colors
$color-white: #ffffff;
$color-black: #000000;
$color-alert: #ff2424;
$color-alert-msg: #856404;

//BTN Auth
$color-btn-auth-bg: #37b3ad;
$color-btn-auth-active: #53cac4;
$color-btn-auth-hover: #2b8c87;

//Link color
$color-link: #37b3ad;
$color-link-active: #53cac4;
$color-link-hover: #2b8c87;

//Placeholder
$placeholder-font-size: 1.4rem;

// FONT
$default-font-size: 1.6rem;