<nav class="navbar navbar-expand-lg navbar-dark hp-nav--bg">
  <button
    class="navbar-toggler ml-auto m-2"
    type="button"
    data-toggle="collapse"
    data-target="#homepage-navigation"
    aria-controls="homepage-navigation"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="homepage-navigation">
    <ul class="navbar-nav mr-auto">
      <!-- APPLICANT -->
      <li
        class="nav-item active hp-nav__item"
        *ngIf="activeApplicant"
        routerLinkActive="hp-nav__item--active"
        (click)="onDropdownClick()"
      >
        <a class="nav-link" routerLink="job-postings">Job postings</a>
      </li>
      <li
        class="nav-item active hp-nav__item"
        *ngIf="activeApplicant"
        routerLinkActive="hp-nav__item--active"
        (click)="onDropdownClick()"
      >
        <a class="nav-link" routerLink="my-applications">My applications</a>
      </li>
      <li
        class="nav-item active hp-nav__item"
        *ngIf="activeApplicant"
        routerLinkActive="hp-nav__item--active"
        (click)="onDropdownClick()"
      >
        <a class="nav-link" routerLink="profile">My profile</a>
      </li>

      <!-- CLIENT -->
      <li
        class="nav-item active hp-nav__item"
        *ngIf="!activeApplicant"
        routerLinkActive="hp-nav__item--active"
        (click)="onDropdownClick()"
      >
        <a class="nav-link" routerLink="job-postings">My postings</a>
      </li>
      <li
        class="nav-item active hp-nav__item"
        *ngIf="!activeApplicant"
        routerLinkActive="hp-nav__item--active"
        (click)="onDropdownClick()"
      >
        <a class="nav-link" routerLink="add-job-posting">Add new job posting</a>
      </li>
      <li
        class="nav-item active hp-nav__item"
        *ngIf="!activeApplicant"
        routerLinkActive="hp-nav__item--active"
        (click)="onDropdownClick()"
      >
        <a class="nav-link" routerLink="profile">Company profile</a>
      </li>
      <hr />
      <li
        class="nav-item active hp-nav__item"
        id="mobile-logout"
        (click)="onLogout()"
      >
        <a class="nav-link">Logout</a>
      </li>
    </ul>
    <a class="navbar-brand" id="hp-nav__logout-desk">
      <span class="hp-nav__name text-white"
        >Hi, {{ name }}
        <span class="hp-nav__logout"
          ><i
            class="fa fa-circle"
            aria-hidden="true"
            [ngClass]="{
              'u-color-red-dot': !activeClient,
              'u-color-green-dot': activeClient
            }"
            *ngIf="!activeApplicant"
          ></i>
          |
          <span class="hp-nav__logout--color" (click)="onLogout()"
            >Logout</span
          ></span
        ></span
      ></a
    >
  </div>
</nav>
