<div class="jp__container">
  <h1 class="jp__heading">
    JavaScript Developer needed for a long term project
  </h1>
  <p class="jp__sub-heading">JavaScript Developer</p>
  <p class="jp__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime laboriosam
    facilis quod molestias autem ipsum maiores aliquid suscipit quis perferendis
    sed voluptatum ullam laudantium soluta nulla eveniet aliquam, impedit est?
  </p>
  <p class="jp__meta">Job Posting added on: 12/12/2018, available until: 13/12/2018</p>
  <div class="jp__btn-container">
    <button class="btn btn__secondary">See more...</button>
    <button class="btn btn__primary">Apply</button>
  </div>
</div>
