<div class="auth-page__container">
  <div class="auth-page__container--image">
    <div class="auth-page__container--opacity">
      <div class="auth-page__logo-container">
        <img src="../../assets/img/hr-hunters-logo.png" alt="Hr Hunters logo" />
        <div class="auth-page__logo-container__title">HR Hunters</div>
      </div>
      <div class="auth-form__container">
        <div class="auth-form__container--bg-color">
          <form
            [formGroup]="applicantRegisterForm"
            (ngSubmit)="onApplicantRegister()"
          >
            <!-- FIRST NAME INPUT -->
            <div class="input-group">
              <input
                type="text"
                class="form-control auth-form__input"
                placeholder="First name"
                formControlName="applicantFirstName"
                maxlength="30"
              />
              <input
                type="text"
                class="form-control auth-form__input mt-0"
                placeholder="Last name"
                formControlName="applicantLastName"
                maxlength="30"
              />
            </div>
            <div
              *ngIf="
                (!applicantRegisterForm.controls['applicantFirstName'].valid &&
                  (applicantRegisterForm.controls['applicantFirstName'].dirty ||
                    applicantRegisterForm.controls['applicantFirstName']
                      .touched)) ||
                (!applicantRegisterForm.controls['applicantLastName'].valid &&
                  (applicantRegisterForm.controls['applicantLastName'].dirty ||
                    applicantRegisterForm.controls['applicantLastName']
                      .touched))
              "
              class="alert alert-warning auth-form__alert"
            >
              <div
                *ngIf="
                  applicantRegisterForm.controls['applicantFirstName'].errors
                    ?.required
                "
              >
                First name is required.
              </div>
              <div
                *ngIf="
                  applicantRegisterForm.controls['applicantLastName'].errors
                    ?.required
                "
              >
                Last name is required.
              </div>
            </div>

            <!-- EMAIL INPUT -->
            <input
              type="email"
              class="form-control auth-form__input"
              placeholder="Email"
              formControlName="applicantEmail"
              maxlength="30"
            />
            <div
              *ngIf="
                !applicantRegisterForm.controls['applicantEmail'].valid &&
                (applicantRegisterForm.controls['applicantEmail'].dirty ||
                  applicantRegisterForm.controls['applicantEmail'].touched)
              "
              class="alert alert-warning auth-form__alert"
            >
              <div
                *ngIf="
                  applicantRegisterForm.controls['applicantEmail'].errors?.pattern
                "
              >
                Email must be in valid format.
              </div>
              <div
                *ngIf="
                  applicantRegisterForm.controls['applicantEmail'].errors
                    ?.required
                "
              >
                Email is required.
              </div>
              <div
                *ngIf="
                  applicantRegisterForm.controls['applicantEmail'].errors
                    ?.minlength
                "
              >
                Email must be at least 6 characters long.
              </div>
              <div
                *ngIf="
                  applicantRegisterForm.controls['applicantEmail'].errors
                    ?.maxlength
                "
              >
                Email must be up to 30 characters long.
              </div>
            </div>

            <!-- SERVER EMAIL ERROR -->

            <div
              *ngIf="authEmailError"
              class="alert alert-warning auth-form__alert"
            >
              {{ authEmailError }}
            </div>

            <!-- PASSWORD INPUT -->
            <input
              type="password"
              class="form-control auth-form__input"
              placeholder="Password"
              formControlName="applicantPassword"
              minlength="8"
              maxlength="20"
              (keyup)="updatePassword($event)"
            />
            <div
              *ngIf="
                !applicantRegisterForm.controls['applicantPassword'].valid &&
                (applicantRegisterForm.controls['applicantPassword'].dirty ||
                  applicantRegisterForm.controls['applicantPassword'].touched)
              "
              class="alert alert-warning auth-form__alert"
            >
              <div
                *ngIf="
                  applicantRegisterForm.controls['applicantPassword'].errors
                    ?.required
                "
              >
                Password is required.
              </div>
              <div
                *ngIf="
                  applicantRegisterForm.controls['applicantPassword'].errors
                    ?.minlength
                "
              >
                Password must be at least 8 characters long.
              </div>
              <div
                *ngIf="
                  applicantRegisterForm.controls['applicantPassword'].errors
                    ?.maxlength
                "
              >
                Password must be up to 20 characters long.
              </div>
              <div
                *ngIf="
                  applicantRegisterForm.controls['applicantPassword'].errors
                    ?.pattern
                "
              >
                Password must contain at least 1 lowercase, 1 uppercase alphabetical character, 1 numeric character and one special character.
              </div>
            </div>

            <!-- SERVER PASSWORD ERROR -->

            <div
              *ngIf="authPasswordError"
              class="alert alert-warning auth-form__alert"
            >
              {{ authPasswordError }}
            </div>

            <!-- CONFIRM PASSWORD INPUT -->
            <input
              type="password"
              class="form-control auth-form__input"
              placeholder="Confirm Password"
              formControlName="applicantConfirmPassword"
              minlength="8"
              maxlength="20"
              (keyup)="updateConfirmedPassword($event)"
            />
            <div
              *ngIf="
                (!applicantRegisterForm.controls['applicantConfirmPassword']
                  .valid &&
                  (applicantRegisterForm.controls['applicantConfirmPassword']
                    .dirty ||
                    applicantRegisterForm.controls['applicantConfirmPassword']
                      .touched)) ||
                !comparePasswords()
              "
              class="alert alert-warning auth-form__alert"
            >
              <div
                *ngIf="
                  applicantRegisterForm.controls['applicantConfirmPassword']
                    .errors?.required
                "
              >
                Password is required.
              </div>
              <div *ngIf="!comparePasswords()">Passwords must match!</div>
            </div>

            <button
              class="btn btn-auth"
              type="submit"
              [disabled]="!applicantRegisterForm.valid || !comparePasswords()"
            >
              Register
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
