<div class="container">
  <form
    class="hp__form"
    [formGroup]="applicantProfileFormHP"
    (ngSubmit)="onSubmitApplicantProfile()"
  >
    <div class="row">
      <!-- LEFT SIDEBAR -->
      <div class="col-xs-12 col-md-3">
          <div class="company-logo">
            <img
              [src]="imagePreview"
              class="company-logo__img"
              [alt]="applicantProfileFormHP.controls['firstName'].value"
            />
            <div class="company-logo__text" (click)="filePicker.click()">
              <i class="fa fa-camera u-color-dark" aria-hidden="true"></i>Applicant photo
        
              <input
                type="file"
                id="hpid__logo"
                class="dash__form--input"
                #filePicker
                (change)="onImagePicked($event)"
              />

            </div>
          </div>
          <div
            *ngIf="!imageValid"
            class="alert hp__form--alert-msg"
          >
           Photo is required.<br><br>
  
            Please upload a propper image file in .png or .jpg format. Maximum size for the image is 600px x 600px
          </div>
        </div>
  

      <!-- RIGHT SIDEBAR -->
      <div class="col-xs-12 col-md-9">
        <div class="hp__form__container">
          <div class="hp__form--section">
            <!-- APPLICANT FULL NAME -->

            <label for="hpid__title" class="hp__form--label"
              >Full name <span class="u-required-star">*</span></label
            >
            <input
              type="text"
              id="hpid__title"
              class="hp__form--input"
              placeholder="Enter full name..."
              formControlName="firstName"
              maxlength="30"
            />

            <div
              *ngIf="
                !applicantProfileFormHP.controls['firstName'].valid &&
                (applicantProfileFormHP.controls['firstName'].dirty ||
                applicantProfileFormHP.controls['firstName'].touched)
              "
              class="alert hp__form--alert-msg"
            >
              <div
                *ngIf="
                applicantProfileFormHP.controls['firstName'].errors?.required
                "
              >
                Full name is required.
              </div>
              <div
                *ngIf="
                applicantProfileFormHP.controls['firstName'].errors?.maxlength
                "
              >
                Full name must be up to 50 characters long.
              </div>
            </div>

            <!-- E-mail start -->
            <label for="hpid__title" class="hp__form--label"
              >E-mail <span class="u-required-star">*</span></label
            >
            <input
              type="text"
              id="hpid__title"
              class="hp__form--input"
              placeholder="Enter email..."
              formControlName="applicantEmail"
              maxlength="30"
            />

            <div
              *ngIf="
                !applicantProfileFormHP.controls['applicantEmail'].valid &&
                (applicantProfileFormHP.controls['applicantEmail'].dirty ||
                applicantProfileFormHP.controls['applicantEmail'].touched)
              "
              class="alert hp__form--alert-msg"
            >
              <div
                *ngIf="
                applicantProfileFormHP.controls['applicantEmail'].errors?.pattern
                "
              >
                Email is required.
              </div>
              <div
                *ngIf="
                applicantProfileFormHP.controls['applicantEmail'].errors?.required
                "
              >
                Email is required.
              </div>
              <div
                *ngIf="
                applicantProfileFormHP.controls['applicantEmail'].errors?.minlength
                "
              >
                Email must be at least 6 characters long.
              </div>
              <div
                *ngIf="
                applicantProfileFormHP.controls['applicantEmail'].errors?.maxlength
                "
              >
                Email must be up to 30 characters long.
              </div>
            </div>

            <!-- E-mail end -->

            <!-- Phone-number start -->
            <label for="hpid__title" class="hp__form--label"
              >Phone number <span class="u-required-star">*</span></label
            >
            <input
              type="text"
              id="hpid__title"
              class="hp__form--input"
              placeholder="Enter phone number..."
              formControlName="phonenumber"
            />
            <div
              *ngIf="
                !applicantProfileFormHP.controls['phonenumber'].valid &&
                (applicantProfileFormHP.controls['phonenumber'].dirty ||
                applicantProfileFormHP.controls['phonenumber'].touched)
              "
              class="alert hp__form--alert-msg"
            >
              <div
                *ngIf="
                applicantProfileFormHP.controls['phonenumber'].errors?.required
                "
              >
                Phone number is required.
              </div>
              <div
                *ngIf="
                applicantProfileFormHP.controls['phonenumber'].errors?.maxlength
                "
              >
                Phone number must be E.164 format.
              </div>
            </div>

            <!-- Phone-number end -->

            <!-- EDUCATION -->

            <label for="hpid__education" class="hp__form--label"
            >Education <span class="u-required-star">*</span></label
          >
          <select
            id="dashidEducation"
            class="hp__form--input"
            formControlName="education"
      
          >
            <option *ngFor="let edu of education" [ngValue]="edu"
              >{{ edu }}
            </option>
          </select>

          <div
            *ngIf="
              !applicantProfileFormHP.controls['education'].valid &&
              (applicantProfileFormHP.controls['education'].dirty ||
              applicantProfileFormHP.controls['education'].touched)
            "
            class="alert hp__form--alert-msg"
          >
            <div
              *ngIf="
              applicantProfileFormHP.controls['education'].errors?.required
              "
            >
              Education must be selected.
            </div>
          </div>

            <!-- SCHOOL/University -->
            <label for="hpid__title" class="hp__form--label"
              >School/University <span class="u-required-star">*</span></label
            >
            <input
              type="text"
              id="hpid__title"
              class="hp__form--input"
              placeholder="Enter school/university..."
              formControlName="school"
              maxlength="50"
            />

            <div
              *ngIf="
                !applicantProfileFormHP.controls['school'].valid &&
                (applicantProfileFormHP.controls['school'].dirty ||
                applicantProfileFormHP.controls['school'].touched)
              "
              class="alert hp__form--alert-msg"
            >
              <div
                *ngIf="
                applicantProfileFormHP.controls['school'].errors?.required
                "
              >
                School/Universitye is required.
              </div>
              <div
                *ngIf="
                applicantProfileFormHP.controls['school'].errors?.maxlength
                "
              >
              School/University  must be up to 50 characters long.
              </div>
            </div>



           <!-- NEEDED EXPERIENCE -->

           <label for="hpid__experience" class="hp__form--label"
             >Experience (in years)
             <span class="u-required-star">*</span></label
           >
           <input
             type="text"
             id="hpid__experience"
             class="hp__form--input"
             formControlName="experience"
             maxlength="3"
             autocomplete="off"
             placeholder="Choose needed experience..."
             (focus)="onFocus('experience')"
             (keyup)="populateExperienceSuggestions($event)"
             (keyup)="checkExperience()"
           />

           <div
             class="dropdown-container"
             *ngIf="filteredExperience.length > 0 && formFocus.experience"
           >
             <div
               class="dropdown-menu dropdown-menu--height show"
               aria-labelledby="dashidExperience"
             >
               <span
                 class="dropdown-item"
                 *ngFor="let number of filteredExperience"
                 (click)="populateExperience($event)"
                 >{{ number }}</span
               >
             </div>
           </div>

           <div
             *ngIf="
               (!applicantProfileFormHP.controls['experience'].valid &&
                 (applicantProfileFormHP.controls['experience'].dirty ||
                 applicantProfileFormHP.controls['experience'].touched)) ||
               checkExperience()
             "
             class="alert hp__form--alert-msg"
           >
             <div
               *ngIf="
               applicantProfileFormHP.controls['experience'].errors?.required
               "
             >
               Experience is required.
             </div>

             <div
               *ngIf="applicantProfileFormHP.controls['experience'].errors?.maxlength"
             >
               Experience must be up to 2 characters long.
             </div>
           </div>
          </div>

          <div class="hp__form--btn-container">
            <!-- needed special styling for linked in button -->
            <button type="reset" class="btn btn__primary">Linked in</button>
            <button type="reset" class="btn btn__danger">Cancel</button>
            <button
              type="submit"
              class="btn btn__success"
              [disabled]="!applicantProfileFormHP.valid"
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
