// DATE PICKER

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 3rem;
  width: 3rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

//edits

.ngb-dp-day {
  width: 3rem !important;
  height: 3rem !important;
}

.custom-select {
  font-size: unset !important;
  height: unset !important;
}

ngb-datepicker-navigation {
  margin-bottom: .6rem !important;
}

.ngb-dp-weekdays {
  margin-top: .6rem !important;
}

.ngb-dp-weekday:not(:last-child) {
  padding-right: 3rem !important;
}