.hp-nav {
    &--bg {
        background-color: $color-hp-nav-bg;
    }
    &__item {
        padding: .5rem 1.5rem;
        font-size: 1.4rem;
        cursor: pointer;
        a {
            color: $color-white;
        }
        &:hover {
            background-color: $color-hp-nav-hover;
        }
        &:active {
            background-color: $color-hp-nav-active;
        }

        &--active {
            background-color: $color-hp-nav-active;
            &:hover {
                background-color: $color-hp-nav-active;
            }
        }
    } 
    &__logout {
        &--color {
            color: $color-link;
            cursor: pointer;
        }
    }
    &__name {
        font-size: 1.4rem;
    }   
}

#hp-nav__logout-mob {
    display: none;
}

@media (max-width: 991px) {
    #hp-nav__logout-mob {
        display: unset;
    }
    #hp-nav__logout-desk {
        display: none;
    }
    .breadcrumbs {
        display: none;
    }
}