.jp {
    &__container {
        width: 100%;
        border-bottom: 1px solid lightgray;
        padding-bottom: 1rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    // &__heading {
    // }

    &__sub-heading {
        color: $color-text-secondary;
        font-size: $content-font-size;
    }

    &__content {
        font-size: $content-font-size;
    }

    &__meta {
        color: $color-text-secondary;
        font-size: $content-font-size;
    }

    &__btn-container {
        text-align: right;
    }
}