.jp {
    &__container {
        width: 100%;
    }

    &__heading {
    }

    &__sub-heading {
        color: $color-text-secondary;
    }

    &__content {

    }

    &__meta {
        color: $color-text-secondary;
    }

    &__btn-container {
        
    }
}