
//Colors
$color-white: #ffffff;
$color-black: #000000;

//BTN Auth
$color-btn-auth-bg: #37b3ad;
$color-btn-auth-active: #53cac4;
$color-btn-auth-hover: #2b8c87;
//nav links
$nav-primary-bg: #23282d;
$active-bg: #444e58;
$hover-bg: #32373c;
$bg-color-active:#53cac4;


//Link color
$color-link: #37b3ad;
$color-link-active: #53cac4;
$color-link-hover: #2b8c87;

//Placeholder
$placeholder-font-size: 1.4rem;
