.admin-dash {
  &__component-container {
    width: 100%;

    &--responsive {
      display: none;
    }
  }

  &__header {
    height: 4rem;
    background-color: $color-nav-primary-bg;

    &__title {
      padding: 0 0.5rem;
      &--link {
        color: $color-link;
        &:hover {
          color: $color-link-hover;
          text-decoration: none;
        }
        &:active {
          color: $color-link-active;
        }
      }
    }
  }

  &__navigation {
    display: flex;
    height: calc(100% - 4rem);
    min-height: calc(100vh - 4rem);


    &--brand {
      display: none;
    }

    nav {
      width: 15rem;
      background: $color-nav-primary-bg;
    }

    &--link {
      width: 100%;
      padding: 1rem 2rem;
      color: $color-white;
      font-size: 1.3rem;
      width: 100%;
      background-color: $color-nav-li-bg;
      cursor: pointer;

      &:hover {
        color: $color-nav-link;
      }

      &:focus {
        outline: none;
      }
      &:active {
        outline: none;
      }
    }

    &--auth {
      margin-top: 1rem;
      //border-top: .1rem solid rgba($color: $color-white, $alpha: .5)
    }

    &--main {
      background-color: $color-nav-main;

      &:hover {
        color: $color-white;
      }
    }

    &--active {
      font-weight: bold;
      background-color: $color-nav-li-bg-active;
    }

    &--toggler {
      color: $color-white;
    }
  }
}

@media (max-width: 991px) {
  #admin-dash {
    &__top-nav {
      display: none;
    }
    &__dashboard-btn {
      display: none;
    }
    &__side-nav {
      width: 100vw;
    }
    &__dropdown-nav {
      position: relative;
      top: 3.5rem;
      padding-top: 0.7rem;
      background-color: $color-nav-primary-bg;
      z-index: 9999;
    }
  }

  .admin-dash {
    &__component-container {
      position: absolute;
      left: 0;
      top: 4rem;
      height: 100%;
    }
    &__navigation {
      height: 3.5rem;
      position: relative;
      &--brand {
        padding-left: 1rem;
      }
      &--toggler {
        position: absolute;
        right: 1rem;
        top: 0.3rem;
      }
    }
  }
}

@media (min-width: 992px) {
  #admin-dash {
    &__logout {
      display: none;
    }
  }
}
