.admin-dash {
  &__header {
    height: 4rem;
    background-color: $color-nav-primary-bg;

    &__title {
      padding: 0 0.5rem;
      a {
        color: $color-link;
        &:hover {
          color: $color-link-hover;
          text-decoration: none;
        }
        &:active {
          color: $color-link-active;
        }
      }
    }
  }

  &__navigation {
    display: flex;
    height: calc(100vh - 4rem);

    nav {
      max-width: 15rem;
      background: $color-nav-primary-bg;
    }

    &--link {
      width: 100%;
      padding: 1rem 2rem;
      color: $color-white;
      font-size: 1.3rem;
      width: 100%;
      background-color: $color-nav-li-bg;
      cursor: pointer;

      &:hover {
        color: $color-nav-link;
      }
    }

    &--main {
      background-color: $color-nav-main;

      &:hover {
        color: $color-white;
      }
    }

    &--active {
      font-weight: bold;
    }

    &--toggler {
      color: $color-white;
    }
  }
}
