.auth-page {
  &__container {
    height: 100vh;

    &--image {
      background-image: url("/../../assets/img/welcome-bg.jpg");
      background-position: center center;
      background-size: cover;
      height: 100%;
    }
    &--opacity {
      background-color: rgba($color-black, 0.6);
      height: 100%;
      padding: 3rem;
    }
  }
  &__logo-container {
    img {
      height: 16rem;
    }
    &__title {
      font-size: 6rem;
      color: $color-white;
      display: inline-block;
      margin-left: 2rem;
      transform: translateY(1.5rem);
    }
  }

  &__moto {
    font-size: 9.5rem;
    font-weight: 500;
    text-align: center;
    color: $color-white;
    letter-spacing: 0.2rem;
    line-height: 10rem;
    padding: 4rem 10rem;
  }

  &__btn-container {
    text-align: center;

    button:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }
}

// Small devices (portrate phones, up to 576px)
@media (max-width: 576px) {
  .auth-page {
    &__logo-container {
      img {
        height: 9rem;
      }
      &__title {
        font-size: 3rem;
        color: $color-white;
        display: inline-block;
        margin-left: 1rem;
        transform: translateY(0.75rem);
      }
    }
    &__moto {
      font-size: 4rem;
      font-weight: 500;
      text-align: center;
      color: $color-white;
      letter-spacing: 0.2rem;
      line-height: 4rem;
      padding: 2rem 2rem;
    }
  }
}

// Small devices (landscape phones, up to 576px)
@media (min-width: 576px) {
  .auth-page {
    &__logo-container {
      img {
        height: 9rem;
      }
      &__title {
        font-size: 3rem;
        color: $color-white;
        display: inline-block;
        margin-left: 1rem;
        transform: translateY(0.75rem);
      }
    }
    &__moto {
      font-size: 4rem;
      font-weight: 500;
      text-align: center;
      color: $color-white;
      letter-spacing: 0.2rem;
      line-height: 4rem;
      padding: 2rem 2rem;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .auth-page {
    &__logo-container {
      img {
        height: 12rem;
      }
      &__title {
        font-size: 4rem;
        color: $color-white;
        display: inline-block;
        margin-left: 1.5rem;
        transform: translateY(1rem);
      }
    }
    &__moto {
      font-size: 6rem;
      font-weight: 500;
      text-align: center;
      color: $color-white;
      letter-spacing: 0.2rem;
      line-height: 7rem;
      padding: 0rem 5rem 2rem 5rem;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .auth-page {
    &__moto {
      font-size: 7.5rem;
      font-weight: 500;
      text-align: center;
      color: $color-white;
      letter-spacing: 0.2rem;
      line-height: 8.5rem;
      padding: 3rem 7rem;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
