.home-applicant {

  
    &__component-container {
      width: 100%;
      margin-top: 0rem;

      &__ul-container{
        margin:-0.4rem 1rem;
   
      li{
        padding: 0rem 0.5rem;
       }
      }
   
      &--responsive {
        display: none;
      }
    }

    &__breadcrumb{

      // padding: 0.5rem 1rem;
   
      // border: none;
      // background: $bg-color-navlink;
      // color:$color-white;

      // ol{
      //   margin: 0;
      //   padding-left: 0;
      //   list-style: none;

      //   li{
      //     display: inline;
      //   }

      //    li::before {
      //     display: inline-block;
      //     margin: 0 .25em;
      //     transform: rotate(170deg);
      //     border-right: .1em solid currentColor;
      //     height: .8em;
      //     content: '';
      //   }

      //   [aria-current="page"] {
      //     color: #000;
      //     font-weight: 700;
      //     text-decoration: none;
      //   }

      }
      
      // list-style: none;
    
      // // margin: 2rem 0rem;

      // li {
      //     display: inline;
      //     font-size: 1.4rem;

      //   //   :before {
      //   //     padding: 8px;
      //   //     color: black;
      //   //     content: "/\00a0";
      //   // }
      // }

      // li+li:before {
      //     // padding: 10px;
      //     color: black;
      //     content: "|\00a0";
      // }

    
    
  
    &__header {
      height: 4rem;
      background-color:$color-nav-primary-bg;
      margin-top: 0rem;
       
  
    &__nav-horizontal-list{
      margin: 0rem 0.5rem;

    }
      &__title {
      
        &--link {
          color: $color-link-active;
          background:$bg-color-navlink;
         
          &:hover {
            color: $color-link-hover;
            text-decoration: none;
            background:$bg-color-hover;
          }
          &:active {
            color: $color-link-active;
            background:$color-nav-li-bg-active;
          }
        }
      }

     
    }
  
    &__navigation {
      display: flex;
      height: calc(100% - 4rem);
      min-height: calc(100vh - 4rem);
  
  
      &--brand {
        // display: none;
      }
  
      
  
      &--link {
        width: 100%;
        padding: 0.4rem 0.6rem;
        color: $color-link-active;
        font-size: 1.3rem;
       height: 100%;
        background-color: $color-nav-li-bg;
        cursor: pointer;
  
        &:hover {
          color: $color-nav-link;
        }
  
        &:focus {
          outline: none;
        }
        &:active {
          outline: none;
        }
      }
     }

    &__logout{
      cursor:pointer;
    }
  }
  .navbar-nav {border-radius:0 !important;}

  // 
  #breadcrumbMenu{
    border: none;
  }
  nav.breadcrumb {
    padding: 0.5rem 1rem;
   
    border: none;
    background: $bg-color-navlink;
    color:$color-white;
  }
  
  nav.breadcrumb ol {
    margin: 0;
    padding-left: 0;
    list-style: none;
  }
  
  nav.breadcrumb li {
    display: inline;
    a{
      color:$color-white;
      text-decoration: none;
      font-size: 1.4rem;
    }
    
  }
  
  nav.breadcrumb li + li::before {
    display: inline-block;
    margin: 0 .25em;
    transform: rotate(170deg);
    border-right: .1em solid currentColor;
    height: .8em;
    content: '';
  }
  
  nav.breadcrumb [aria-current="page"] {
    color:$color-white;
    font-weight: 600;
    text-decoration: none;
  }
  // 
  @media (max-width: 991px) {
    #home-applicant {
      
    
      &__nav-horizontal {
        position: relative;
        top: 3.5rem;
        padding-top: 0.7rem;
        background-color: $color-nav-primary-bg;
        z-index: 9999;
      }

    }
    #navbarSupportedContent{
      .navbar-nav{
        margin-top:16px;

        li{
          margin:0.5rem 0.3rem;
         a{
          padding-left: 10px;
         } 
        }
       }
    }

    #breadcrumbMenu{
      display: none;
    }
 
  }
  
  @media (min-width: 992px) {
 
  }
  