<div class="my-container">
  <ng-template #customLoadingTemplate> </ng-template>

  <ngx-loading
    [show]="loading"
    [config]="{ backdropBorderRadius: '3px' }"
    [template]="customLoadingTemplate"
  ></ngx-loading>
  <div class="dash__container">
    <div class="dash__heading">
      <h2>Job Postings</h2>
      <button
        class="btn dash__heading--btn"
        type="button"
        routerLink="/admin-dashboard/new-job-posting"
      >
        Add New
      </button>
      <button
        class="btn dash__heading--btn"
        type="button"
        routerLink="/admin-dashboard/new-csv"
      >
        Import CSV
      </button>
      <div class="text-muted dash__filtering">
        <ul>
          <li (click)="onFilter(null)">
            All<span>({{ jobPostingsCount.all }})</span>
          </li>
          <li (click)="onFilter('Approved')">
            Aproved<span>({{ jobPostingsCount.approved }})</span>
          </li>
          <li (click)="onFilter('Pending')">
            Pending<span>({{ jobPostingsCount.pending }})</span>
          </li>
          <li (click)="onFilter('Expired')">
            Expired<span>({{ jobPostingsCount.expired }})</span>
          </li>
          <li (click)="onFilter('Rejected')">
            Rejected<span>({{ jobPostingsCount.rejected }})</span>
          </li>
        </ul>
      </div>
    </div>
    <!-- table -->
    <div class="dash__table">
      <table
        class="table table-hover table-responsive-sm table-striped table-bordered"
      >
        <thead>
          <tr class="dash__table__header">
            <th scope="col" (click)="onSort('jobTitle')">
              Position Title
              <i
                class="fa fa-sort-asc"
                aria-hidden="true"
                *ngIf="
                  jobPostingQP.currentSortBy === 'jobTitle' &&
                  jobPostingQP.currentSortDirection === 0
                "
              ></i
              ><i
                class="fa fa-sort-desc"
                aria-hidden="true"
                *ngIf="
                  jobPostingQP.currentSortBy === 'jobTitle' &&
                  jobPostingQP.currentSortDirection === 1
                "
              ></i>
            </th>
            <th scope="col" (click)="onSort('companyName')">
              Company Name
              <i
                class="fa fa-sort-asc"
                aria-hidden="true"
                *ngIf="
                  jobPostingQP.currentSortBy === 'companyName' &&
                  jobPostingQP.currentSortDirection === 0
                "
              ></i
              ><i
                class="fa fa-sort-desc"
                aria-hidden="true"
                *ngIf="
                  jobPostingQP.currentSortBy === 'companyName' &&
                  jobPostingQP.currentSortDirection === 1
                "
              ></i>
            </th>
            <th scope="col" (click)="onSort('companyEmail')">
              Contact Email
              <i
                class="fa fa-sort-asc"
                aria-hidden="true"
                *ngIf="
                  jobPostingQP.currentSortBy === 'companyEmail' &&
                  jobPostingQP.currentSortDirection === 0
                "
              ></i
              ><i
                class="fa fa-sort-desc"
                aria-hidden="true"
                *ngIf="
                  jobPostingQP.currentSortBy === 'companyEmail' &&
                  jobPostingQP.currentSortDirection === 1
                "
              ></i>
            </th>
            <th scope="col" (click)="onSort('location')">
              Location
              <i
                class="fa fa-sort-asc"
                aria-hidden="true"
                *ngIf="
                  jobPostingQP.currentSortBy === 'location' &&
                  jobPostingQP.currentSortDirection === 0
                "
              ></i
              ><i
                class="fa fa-sort-desc"
                aria-hidden="true"
                *ngIf="
                  jobPostingQP.currentSortBy === 'location' &&
                  jobPostingQP.currentSortDirection === 1
                "
              ></i>
            </th>
            <th scope="col" (click)="onSort('jobType')">
              Job Type
              <i
                class="fa fa-sort-asc"
                aria-hidden="true"
                *ngIf="
                  jobPostingQP.currentSortBy === 'jobType' &&
                  jobPostingQP.currentSortDirection === 0
                "
              ></i
              ><i
                class="fa fa-sort-desc"
                aria-hidden="true"
                *ngIf="
                  jobPostingQP.currentSortBy === 'jobType' &&
                  jobPostingQP.currentSortDirection === 1
                "
              ></i>
            </th>
            <th scope="col" (click)="onSort('dateTo')">
              Expires
              <i
                class="fa fa-sort-asc"
                aria-hidden="true"
                *ngIf="
                  jobPostingQP.currentSortBy === 'dateTo' &&
                  jobPostingQP.currentSortDirection === 0
                "
              ></i
              ><i
                class="fa fa-sort-desc"
                aria-hidden="true"
                *ngIf="
                  jobPostingQP.currentSortBy === 'dateTo' &&
                  jobPostingQP.currentSortDirection === 1
                "
              ></i>
            </th>
            <th scope="col" (click)="onSort('allApplicationsCount')">
              Applications
              <i
                class="fa fa-sort-asc"
                aria-hidden="true"
                *ngIf="
                  jobPostingQP.currentSortBy === 'allApplicationsCount' &&
                  jobPostingQP.currentSortDirection === 0
                "
              ></i
              ><i
                class="fa fa-sort-desc"
                aria-hidden="true"
                *ngIf="
                  jobPostingQP.currentSortBy === 'allApplicationsCount' &&
                  jobPostingQP.currentSortDirection === 1
                "
              ></i>
            </th>
            <th scope="col" (click)="onSort('status')">
              Status
              <i
                class="fa fa-sort-asc"
                aria-hidden="true"
                *ngIf="
                  jobPostingQP.currentSortBy === 'status' &&
                  jobPostingQP.currentSortDirection === 0
                "
              ></i
              ><i
                class="fa fa-sort-desc"
                aria-hidden="true"
                *ngIf="
                  jobPostingQP.currentSortBy === 'status' &&
                  jobPostingQP.currentSortDirection === 1
                "
              ></i>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let jobPosting of jobPostings">
            <td
              scope="row"
              (click)="onEditJobPosting(jobPosting.id)"
              [routerLink]="[
                '/admin-dashboard/new-job-posting/',
                jobPosting.id
              ]"
              [queryParams]="{ edit: true }"
              class="jobposting--color jobposting--edit"
            >
              {{ jobPosting.jobTitle }} <i class="fa fa-pencil-square-o u-display-none" aria-hidden="true"></i>
            </td>
            <td>{{ jobPosting.companyName }}</td>
            <td>{{ jobPosting.companyEmail }}</td>
            <td>{{ jobPosting.location }}</td>
            <td>{{ jobPosting.jobType }}</td>
            <td>{{ jobPosting.dateTo }}</td>
            <td>{{ jobPosting.allApplicationsCount }}</td>
            <td>
              <div class="dropdown dash__table--dropdown-btn__container">
                <button
                  class="btn dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  {{ jobPosting.status }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <span
                    class="dropdown-item"
                    (click)="chooseStatus($event, jobPosting.id)"
                    >Approved</span
                  >
                  <span
                    class="dropdown-item"
                    (click)="chooseStatus($event, jobPosting.id)"
                    >Pending</span
                  >
                  <span
                    class="dropdown-item"
                    (click)="chooseStatus($event, jobPosting.id)"
                    >Rejected</span
                  >
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <ngb-pagination
      *ngIf="paginationMaxSize > 10"
      [collectionSize]="paginationMaxSize"
      [(page)]="jobPostingQP.currentPage"
      [maxSize]="10"
      [rotate]="true"
      [ellipses]="false"
      [boundaryLinks]="true"
      class="d-flex justify-content-center"
      (pageChange)="onChangedPage($event)"
    ></ngb-pagination>
  </div>
</div>
