<div class="dash__container" *ngIf="selectedTab.jobs">
  <div class="dash__heading">
    <h2>Job Postings</h2>
    <button
      class="btn dash__heading--btn"
      type="button"
      routerLink="/admin-dashboard/new-job-posting"
      (click)="onChangeTab('new')"
    >
      Add New
    </button>
    <button class="btn dash__heading--btn" type="button">Import CSV</button>
    <div class="text-muted dash__filtering">
      <ul>
        <li (click)="onFilter(null)">
          All<span>({{ jobPostingsCount.all }})</span>
        </li>
        <li (click)="onFilter('Approved')">
          Aproved<span>({{ jobPostingsCount.approved }})</span>
        </li>
        <li (click)="onFilter('awaitingApproval')">
          Pending<span>({{ jobPostingsCount.pending }})</span>
        </li>
        <li (click)="onFilter('Expired')">
          Expired<span>({{ jobPostingsCount.expired }})</span>
        </li>
        <li (click)="onFilter('Rejected')">
          Rejected<span>({{ jobPostingsCount.rejected }})</span>
        </li>
      </ul>
    </div>
  </div>
  <!-- table -->
  <div class="dash__table">
    <table
      class="table table-hover table-responsive-sm table-striped table-bordered"
    >
      <thead>
        <tr class="dash__table__header">
          <th scope="col" (click)="onSort('jobTitle')">Position Title</th>
          <th scope="col" (click)="onSort('companyName')">Company Name</th>
          <th scope="col" (click)="onSort('companyEmail')">Contact Email</th>
          <th scope="col" (click)="onSort('location')">Location</th>
          <th scope="col" (click)="onSort('jobType')">Job Type</th>
          <th scope="col" (click)="onSort('dateTo')">Expires</th>
          <th scope="col" (click)="onSort('allApplicationsCount')">
            Applications
          </th>
          <th scope="col" (click)="onSort('status')">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let jobPosting of jobPostings">
          <td scope="row" (click)="onEditJobPosting(jobPosting.id)">
            {{ jobPosting.jobTitle }}
          </td>
          <td>{{ jobPosting.companyName }}</td>
          <td>{{ jobPosting.companyEmail }}</td>
          <td>{{ jobPosting.location }}</td>
          <td>{{ jobPosting.jobType }}</td>
          <td>{{ jobPosting.dateTo }}</td>
          <td>{{ jobPosting.allApplicationsCount }}</td>
          <td>
            <div class="dropdown dash__table--dropdown-btn__container">
              <button
                class="btn dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                {{ jobPosting.status }}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <span
                  class="dropdown-item"
                  (click)="chooseStatus($event, jobPosting.id)"
                  >Approved</span
                >
                <span
                  class="dropdown-item"
                  (click)="chooseStatus($event, jobPosting.id)"
                  >Pending</span
                >
                <span
                  class="dropdown-item"
                  (click)="chooseStatus($event, jobPosting.id)"
                  >Expired</span
                >
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
     

  <ngb-pagination
    [collectionSize]="jobPostingsCount.all"
    [(page)]="jobPostingQP.currentPage"
    [maxSize]="10"
    [rotate]="true"
    [ellipses]="false"
    [boundaryLinks]="true"
    class="d-flex justify-content-center"
    (pageChange)="onChangedPage($event)"
  ></ngb-pagination>

  <app-ad-new-job-posting *ngIf="selectedTab.new"></app-ad-new-job-posting>
</div>
