<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <img src="../../assets/img/hr-hunters-logo.png" alt="Hr Hunters logo">
            <span>HR Hunters</span>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div>Helping you reach your goals</div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div><button>I'm looking for a job</button></div>
            <div><button>I'm hiring staff</button></div>
        </div>
    </div>
</div>