<div class="auth-page__container">
  <div class="auth-page__container--image">
    <div class="auth-page__container--opacity">
      <div class="auth-page__logo-container">
        <img src="../../assets/img/hr-hunters-logo.png" alt="Hr Hunters logo" />
        <div class="auth-page__logo-container__title">HR Hunters</div>
      </div>
      <div class="auth-page__moto">Helping you reach your goals</div>
      <div class="auth-page__btn-container">
        <button routerLink="/applicant-login" class="btn btn-auth">
          I'm looking for a job</button
        ><br />
        <button routerLink="/client-login" class="btn btn-auth">
          I'm hiring staff
        </button>
      </div>
    </div>
  </div>
</div>
