

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark home-applicant__component-container" id="home-applicant">
        <!-- <a class="navbar-brand" href="#">HR Hunters</a> -->
  
        <div class="collapse navbar-collapse home-applicant__header__nav-horizontal" id="navbarNav">
          <ul class="navbar-nav home-applicant__header__nav-horizontal ">
            <li class="nav-item ">
              <a class="nav-link home-applicant__header__title--link" href="#"  routerLink="applicant/job-postings"
                  routerLinkActive="header-applicant__navigation--active">Job postings </a>
            </li>
            <li class="nav-item">
              <a class="nav-link home-applicant__header__title--link" href="#"  routerLink="applicant/applications"
              routerLinkActive="header-applicant__navigation--active">My applications</a>
            </li>
            <li class="nav-item">
              <a class="nav-link home-applicant__header__title--link" href="#"  routerLink="applicant/profile"
              routerLinkActive="header-applicant__navigation--active">My profile</a>
            </li>
        
          </ul>
        </div>

        <a class="navbar-brand" 
        ><span class="home-applicant__header__title text-white"
          >Hi, John
          <span class="home-applicant__header--logout"
            >| <span class="admin-dash__header__title--link" (click)="onLogout()">Logout</span></span
          ></span
        ></a>

           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      </nav>

</div>




