<div class="welcome-page-container">
  <div class="welcome-page-container--opacity">
    <div class="welcome-page-container__logo-container">
      <img src="../../assets/img/hr-hunters-logo.png" alt="Hr Hunters logo" />
      <div class="welcome-page-container__logo-container__title">
        HR Hunters
      </div>
    </div>
    <div class="auth-form__container">
      <div class="auth-form__container--bg-color">
        <form [formGroup]="applicantLoginForm" (ngSubmit)="onApplicantLogin()">
          <input type="email" class="form-control auth-form__input" placeholder="Enter email" formControlName="email" maxlength="30">
          <input type="password" class="form-control auth-form__input" placeholder="Password" formControlName="password" minlength="8" maxlength="30">
          <p class="auth-form__text">You don't have an account?<br>Register <a href="#">here</a>.</p>
          <button class="btn btn-auth" type="submit" [disabled]="!applicantLoginForm.valid">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
